body {
    background: url("../images/gemstone-image.jpg");

}

.container {
    max-width: 90%;
}
  
  h1 {
      text-align: center;
}
  
.my-col-1 {
    background-color: orange;
    color: white;
    font-size: 10px;
    
}

.my-col-2 {
    background-color: lightsalmon;
    height: 250px;
    
}


#targetScore {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: 40px;
}

#winCount {
    background-color: #00ffff;
    font-size: 30px;
}
#lossCount {
    background-color: #00ffff;
    font-size: 30px;    
}

.btn {
    height: 120px;
    width: 120px;
}

#yourScore {
    background-color: #29a3a3;
    color: white;
    text-align: center;
    height: 50px;
    font-size: 30px;
}